{% extends 'base.html' %}
{% load highlight %}
{% block content %}
<style type="text/css">
span.highlighted {
color: green;
}
</style>
<form type="get" action=".">
    <input type="text" name="q">
    <button type="submit">Search</button>
</form>

{% for note in notes %}
<h1>{{ note.title }}</h1>
<p>
    {# highlight <text_block> with <query> [css_class "class_name"] [html_tag "span"] [max_length 200] #}

    {% highlight note.body with query max_length 400 as highlighted_result %}
    {{ highlighted_result|safe }}

</p>
{% endfor %}
{% endblock %} 